.admin-area {
  background: rgba(61, 57, 49, 0.932);
  color: white;
  height: 100vh;
}
.admin-container {
  overflow-x: hidden;
}
.admin-menu {
  list-style: none;
  cursor: pointer;
}
.admin-menu:hover {
  color: blue;
}