.testimonials{
  margin: 50px auto;
}
.testimonials h2{
  text-align: center;
  font-weight: bold;
  color: #0004ff;
  padding-bottom: 10px;
  text-transform: uppercase;
}


.testimonials h2::after
{
content:'';
background:  #ff03c8;
display:block;
height: 3px;
width: 170px;
margin: 20px auto 5px;
}

.testimonials .row{
margin-top: 5px;
}
.col-md-4{
  margin: 40px auto;
}

.profile{
  padding: 70px 10px 10px;
  background-color: #efefef;
  
}

.clint{
  height: 120px;
  width: 120px;
  border: 50%;
}
.profile h5{
  font-size: 20px;
  margin-top: 15px;
  
}

.profile:hover{
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.5s;
}

.blockquote{
font-size: 16px;
line-height: 30px;
}